{{ $page := .Page }}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
  
  <div class="meta">
    {{ if not .Page.Date.IsZero }}
      <span class="key">Datum: </span>
      <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02. January 2006" }}</time></span>
    {{ end }}

    {{ with .Params.categories }}
    <span class="key">{{ if $page.Date.IsZero }}published {{ end }}in</span>
    <span class="val">
    {{ range . }}
            <a href="{{ . | urlize | printf "categories/%s" | relURL }}">{{ . }}</a>
    {{ end }}
        </span>
    {{ end }}
    {{ with .Params.tags }}
        <br>
        <span class="key">tags:</span>
        <span class="val">
    {{ range . }}
            <a href="{{ . | urlize | printf "tags/%s" | relURL }}">{{ . }}</a>
    {{ end }}
        </span>
    {{ end }}
    <br>
    <span class="key">GitHub:</span>
    <span class="val">
      <a href="{{.Site.Params.githubrepo}}edit/master/content/{{.File.Path}}" target="_blank">bei GitHub bearbeiten</a>
    </span>
    <br><br>


  </div>
  <section class="body" itemprop="articleBody">
    {{ .Content }}
  </section>

  <br>
  <section class="body" style="padding-top: 5px; padding-bottom: 5px">
    {{ partial "related.html" . }}
  </section>

 
</article>
