{{ $baseurl := .Site.BaseURL }}
<!--<h2 class="site-title">
  <span class="base05">[</span>
  <span class="base08">g</span>
  <span class="base09">l</span>
  <span class="base0a">u</span>
  <span class="base0b">e</span>
  <span class="base0c">c</span>
  <span class="base0d">k</span>
  <span class="base0e">o</span>
  <span class="base0f">.</span>
  <span class="base03">s</span>
  <span class="base04">e</span>
  <span class="base05">]</span>
  <span class="base05"># _</span>
</h2>-->

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  gluecko.se - A blog about data analytics and stuff related
</div>
